/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

/* DIFF */
ins {
  background-color: #c6ffc6;
  text-decoration: none;
}
del {
  background-color: #ffc6c6;
}

/* Luhn
-------------------------------------------------- */
.true {
  background-color: green;
  color: white;
}
.false {
  background-color: red;
  color: white;
}

/* Picker Wheel
-------------------------------------------------- */
text{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  pointer-events: none;
}

#chart{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0;
  left: 200px;
}

#name{
  position: absolute;
  width: 400px;
  height: 500px;
  top: 0;
  left: 720px;
}

#name h1{
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  -webkit-transform:translate(0,-50%);
          transform:translate(0,-50%);
}


/* TABLE */

table#choices {
  background-color: #FFFDD0;
}

table#choices tr, th, td {
  border: 1px solid black;
}

td:nth-child(2) {
  color: green; /* .check */
}

td:nth-child(3) {
  color: red; /* .cross */
}